.showroom {
  height: 100vh;
  padding: 10vh;
  width: 100%;
  background-color: var(--brownblack);
  justify-content: center;
}

.showroom_outer_wrapper {
  border: 1px solid red;
  padding-top: 100px;
  padding-left: 20%;
  padding-bottom: 200px;
  margin-left: var(50% - 700px);
  position: relative;
}

.showroom_inner_wrapper {
  border: 1px solid white;
  margin-right: 10%;
  top: 200px;
  right: 50px;
  position: absolute;
  min-width: 200px;
  max-width: 500px;
  height: auto;
  margin-left: 40%;
}

#showroom_picture {
  width: 80%;
  max-width: 700px;
}

.showroom_headline_div {
  letter-spacing: 30px;
  text-transform: uppercase;
}

.showroom_expert_div {
  padding-top: 10px;
  width: 300px;
}

.showroom_expert_div p {
  margin: 0 0 20px 80px;
  line-height: 1.2em;
  letter-spacing: 3px;
}

.showroom_expert_div p:last-of-type {
  text-transform: uppercase;
  width: 200px;
  height: auto;
  transition: letter-spacing 0.8s ease;
}

.showroom_expert_div p:last-of-type:hover {
  cursor: pointer;
  letter-spacing: 1em;
  line-height: 1.1em;
}
