.showroom {
  height: 100vh;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  background-color: var(--brownblack);
  display: flex;
  justify-content: center;
  align-items: center;
}

.showroom_outer_wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showroom_inner_wrapper {
  margin-left: -150px;
  min-width: 200px;
  max-width: 600px;
  height: auto;
}

#showroom_picture {
  width: 60%;
  min-width: 200px;
}

.showroom_headline_div {
  letter-spacing: 30px;
  text-transform: uppercase;
}

.showroom_expert_div {
  padding-top: 10px;
  width: 300px;
}

.showroom_expert_div p {
  margin: 0 0 20px 80px;
  line-height: 1.2em;
  letter-spacing: 3px;
}

.showroom_expert_div p:last-of-type {
  text-transform: uppercase;
  width: 200px;
  height: auto;
  transition: letter-spacing 0.8s ease;
}

.showroom_expert_div p:last-of-type:hover {
  cursor: pointer;
  letter-spacing: 1em;
  line-height: 1.1em;
}
