footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e2e2e2;
}

.left_footer {
  display: flex;
  justify-content: space-between;
}

.right_footer {
  display: flex;
}
