.news-wrapper {
  font-family: "Inter";
  font-weight: 100;
}

.news-wrapper h3 {
  font-family: "Inter";
  font-weight: 100;
  font-size: 3rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--darkbrownlight);
  font-family: "Inter Light";
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.img-container,
.inner-img {
  width: 400px;
  min-width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  background-size: 115%;
  transition: background-size 1s;
}

.img-container:hover,
.inner-img:hover {
  background-size: 200%;
}

.gallery .img-container:nth-child(1) {
  background-image: url(/public/omega131-63-41-21-01-001amb-jpg-2.-1024x683.jpg);
}

.gallery .img-container:nth-of-type(3) {
  background-image: url(/01_chronomat-b01-42-with-a-silver-dial-and-black-contrasting-chronograph-counters-1024x579.jpg);
}

.inner-img {
  background-image: url(/featured_rado-1-1024x525.jpg);
  background-size: 130%;
}

.inner-gallery-img {
  font-family: "Inter";
  font-weight: 100;
  width: 400px;
  min-width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.all_news {
  text-transform: uppercase;
  font-size: 1em;
  transition: zoom 0.3s ease;
  cursor: default;
}

.all_news:hover {
  zoom: 1.3;
  cursor: pointer;
}

.inner-gallery-img p:first-of-type {
  font-size: 30px;
  letter-spacing: -1px;
}

.inner-gallery-img p:nth-of-type(2) {
  font-size: 15px;
  letter-spacing: 5;
}
