* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkbrownlight: #1a1a1a;
  --brownblack: #121212;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 100;
  color: white;
}

h1 {
  font-size: 55px;
  text-transform: uppercase;
}

h2 {
  font-size: 33px;
}

h3 {
  font-weight: 100;
  font-size: 3rem;
}

h5 {
  font-size: 20px;
  font-weight: 100;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Inter";
  src: url(/Inter/static/Inter-Regular.ttf);
}
